<% @profiles.each do |profile| %>
  <h5> <%= image_tag profile.image.url(:thumb) %> </h5>
  <h5> <%= profile.name %> </h5>
  <h5> <%= profile.profession.role %> </h5>
  <h5> <%= profile.company %> </h5>
  <h5> <%= profile.info %> </h5>
<% end %>
