<tag id="darkPage"><tag>

<column class="col-sacrificial span_1_of_16 dark">
</column>

<column class="col--profile-image span_5_of_16 dark">
	<feature class="photo_field vertical_align">
		<div align="middle" id="photo-field-link">
			<%= image_tag @profile.image.url(:medium) %>
		</div>
	</feature>
</column>

<column class="col-sacrificial span_10_of_16 ">
	<section class="feature-description vertical_align fixed-height">
	  <summaryHead class="professional_info">
	    <h4><%= @profile.name %>
	    	<span class="sub">
		    	<%= @profile.profession.role %>
		    </span>
	    </h4>
	    
	    <h5>
	    	<%= @profile.company %>
	    	<span class="sub">
	    		Located at: <%= @profile.work_address %>
	    	</span>
	    </h5>
	  </summaryHead>
	  <content class="profile-full_info">
	    <em>Summary: </em>
	    <p><%= @profile.info %></p>
	    <em>More about the day: </em></br>
	    <p><%= @profile.full_description %></p>
	    <em>What you can expect on your day with us: </em></br>
	    <p><%= @profile.expectations %></p>
	    <em>People in my profession require the following qualifications (not necessary for your one day experience): </em><br>
	    <p><%= @profile.req_quals %></p>
	    <em>People in my profession, often have the following skills: </em></br>
	    <p><%= @profile.req_skills %></p>
	    <% if current_student %>
	      <%= link_to "Register Interest", :controller => "profiles", :action => "send_email", :id=>@profile.id %>
	    <% else %>
	      <h5>Please <%= link_to "login", new_student_session_path %> to contact <%= @profile.name %></h5>
	    <% end %>
	  </content>
	  <section class="Email">
	  </section>
	</section>
</column>

<section class="profile_container">
  