<section class="profile_container">
  <section class="ProfileImg">Profile Picture</section>
  <section class="professional_info">
    <%= @profile.name %><br></br>
    <%= @profile.profession.role %><br></br>
    <%= @profile.company %><br></br>
    Located at: <%= @profile.work_address %><br></br>
  </section>
  <section class="ode_info">
    <em>Summary: </em><br></br>
    <%= @profile.info %><br></br>
    <em>More about the day: </em><br></br>
    <%= @profile.full_description %><br></br>
    <em>What you can expect on your day with us: </em><br></br>
    <%= @profile.expectations %><br></br>
    <em>People in my profession require the following qualifications (not necessary for your one day experience): </em><br></br>
    <%= @profile.req_quals %><br></br>
    <em>People in my profession, often have the following skills: </em><br></br>
    <%= @profile.req_skills %><br></br>
  </section>