<% content_for :script do %>
	<script>$(document).ready(buildMap);</script>
<% end %>


<!-- New profile page -->
<column class="col-sacrificial1 span_1_of_16">
</column>
<column class="col-sacrificial1 span_1_of_16">
</column>

<column class="col-sacrificial span_5_of_16 ">
		

	<profile id="profile-image--sector" class="vertical_align">
		<map id="google_map" class="">
      <div class="individual-map">
        <div id="map" class="profiles_map jsHandle"></div>
      </div>
    </map>
		<%= image_tag @profile.sector.image.url(:medium), :class=>"profile_sector_image landscape"%>
	</profile>
</column>
<column class="col-sacrificial span_7_of_16 ">
	<profile id="profile-text--individual" class="vertical_align dark">

		<summaryHead class="profile-thumb">
			<%= image_tag @profile.image.url(:thumb), :class=>"profile_sector_image"%>
		</summaryHead>
	  <summaryHead class="headline_info professional_info">
	    <h3>
	    	<%= @profile.job %>, <span class="sub"><%= @profile.name %></span>
	    </h3>
	    <h5>
	    	<%= @profile.company %> 	
	    </h5>
	    <spacer class="small line"></spacer>
	    <h5 class="sub highlight" id="jsLocationButton">
	    		Located at: <%= @profile.address %>
	    </h5>
	  </summaryHead>

	  <spacer class="small"></spacer>

	  <content class="profile-full_info">
	    <h5>Summary: </h5>
	    <p><%= @profile.info %></p>
	    <spacer class="tiny"></spacer>
	    <h5>More about the day: </h5>
	    <p><%= @profile.full_description %></p>
	    <spacer class="tiny"></spacer>
	    <h5>What you can expect on your day with us: </h5>
	    <p><%= @profile.expectations %></p>
	    <spacer class="tiny"></spacer>
	    <h5>People in my profession require the following qualifications (not necessary for your one day experience): </h5>
	    <p><%= @profile.req_quals %></p>
	    <spacer class="tiny"></spacer>
	    <h5>People in my profession, often have the following skills: </h5>
	    <p><%= @profile.req_skills %></p>
	  </content>

			<section class="email sub highlight">
        <% if current_student %>
          <%= link_to "Register Interest", send_email_profile_path(@profile), data:{confirm: "We are about to send an email to #{@profile.name}, registering your interest in a day of work experience with him/her. \n\nThe email will include your name and email address so that they are able to contact you. \n\nPlease confirm that you wish to send this email"}, :class=>"email_links"%>
          <!-- Adding this profile to favortes -->
          <%- unless current_student.favorite_profiles.exists?(@profile.id) -%>
                    <%= link_to 'Add to favorites', favorite_profile_path(@profile), method: :post %>
                <%- else -%>
                    <%= link_to 'Remove from favorites', favorite_profile_path(@profile), method: :delete, :class => "profile_links"  %>
                <%- end -%>
        <% else %>
          <h5>Please <%= link_to "sign in", new_student_session_path %> to contact <%= @profile.name %></h5>
        <% end %>
      </section>
      <section class="edit">
        <% if current_professional == @profile.professional %>
          <%= link_to "Edit Profile", edit_my_profile_path %>
          <a href="/visits/<%= @profile.id %>">See my visits</a>
                <a href='#' class="delete_profile_confirmation">Delete Profile</a>
          <%= link_to "", my_profile_path, method: :delete, :class=>"delete_profile"%>
        <% end %>
      </section>



	</profile>	

</column>

<script>
function buildMap() {
  var handler = Gmaps.build('Google', { scrollwheel: false, zoomControl:   false });
  handler.buildMap({ internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%= raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(15); 
  });
};
</script>

  