<column class="col-sacrificial1 span_1_of_16"></column>
<column class="col-sacrificial1 span_1_of_16"></column>
<column class="col-sacrificial1 span_1_of_16"></column>

<column class="col-sacrificial1 span_10_of_16">
  <section>

  <signin>
    <h2 id="login">Log in</h2>

    <br>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br></br>
        <%= f.email_field :email, autofocus: true %><br></br>
      </div>

      <div class="field">
        <%= f.label :password %><br></br>
        <%= f.password_field :password, autocomplete: "off" %><br></br>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %><br></br>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Log in" %><br>
      </div>
    <% end %>

    <links id="loginlinks"><br>
      <%= render "students/shared/links" %>
    </links>

   </signin>
  </section> 
</column>
<column class="col-sacrificial1 span_1_of_16"></column>
<column class="col-sacrificial1 span_1_of_16"></column>
<column class="col-sacrificial1 span_1_of_16"></column>