<column class="col-sacrificial1 span_1_of_16"></column>
<h1 id="search_header">Profiles search</h1>
  <%= form_for search_path, method: :get do |f| %>
  <p>
  <%= f.label "search_for"%>
  <%= text_field_tag :q, params[:q] %>
  <%= submit_tag "Go", name: nil %>
  </p>
  <% end %>

<grid>
  <% if @query != nil %>
  <div class="container">
    <% if @profiles != nil && @profiles.size <= 0 %>
      <p>There are no profiles that match your search.</p>
    <% else %>
      <% @profiles.each do |profile| %>
        <section class="new-card-form span_4_of_16">
          <h5> <a href="/profiles/<%= profile.id %>"><%= profile.name %> </a></h5>
          <strong>Info:</strong> <%= profile.info %> <br/>
          <strong>Company:</strong> <%= profile.company %> <br/>
          <strong>Location:</strong> <%= profile.work_address %> <br/>
        </section>
      <% end %>
    <% end %>
  </div>
  <% end %>
</grid>