
<column class="col-sacrificial1 span_1_of_16"></column>

<column class="col short span_14_of_16">


<grid>
  <div class="container">
    <% @profiles.each do |profile| %>
      <section class="new-card-form span_4_of_16">
        <a href="/profiles/<%= profile.id %>"><h5> <%= image_tag profile.image.url(:thumb) %> </h5></a>
        <h5> <%= profile.name %> </h5>
        <h5> <%= profile.job %> </h5>
        <h5> <%= profile.company %> </h5>
        <h5> <%= profile.info %> </h5>
      </section>
    <% end %>
  </div>
</grid>

</column>

