<column class="col-sacrificial1 span_1_of_16"></column>

<grid>
  <div class="container">
    <% @profiles.each do |profile| %>
      <section class="new-card-form span_4_of_16">
        <a href="/profiles/<%= profile.id %>" id="profile_link"><h5> <%= image_tag profile.image.url(:thumb) %> </h5></a>
        <h5> <%= profile.name %> </h5>
        <h5> <%= profile.company %> </h5>
        <h5> <%= profile.info %> </h5>
        <%= link_to 'Verify', verify_profile_path(id: profile.id), method: :post %>
      </section>
    <% end %>
  </div>
</grid>
