<% content_for :script do %>
	<script>$(document).ready(buildMap);</script>
<% end %>

<!-- Profile page as seen by student -->

<tag id="darkPage"><tag>

<column class="col-sacrificial span_1_of_16 dark">
</column>

<column class="col--profile-image span_5_of_16 dark">

	<feature id="main_photo" class="photo_field vertical_align">
		<div align="middle" id="photo-field-link">
			<%= image_tag @profile.image.url(:medium) %>
		</div>
	</feature>

	<map id="google_map" class="">
		<div class="individual-map">
	    <div id="map" class="profiles_map"></div>
	  </div>
	</map>

</column>

<column class="col-sacrificial span_10_of_16 ">
	<section class="feature-description vertical_align fixed-height">
	  <summaryHead class="professional_info">
	    <h4><%= @profile.name %></h4>
	    <h5>
	    	<%= @profile.company %>
	    	<span id="jsLocationButton" class="sub">
	    		Located at: <%= @profile.address %>
	    	</span>
	    </h5>
	  </summaryHead>
	  <content class="profile-full_info">
	    <em>Summary: </em>
	    <p><%= @profile.info %></p>
	    <em>More about the day: </em></br>
	    <p><%= @profile.full_description %></p>
	    <em>What you can expect on your day with us: </em></br>
	    <p><%= @profile.expectations %></p>
	    <em>People in my profession require the following qualifications (not necessary for your one day experience): </em><br>
	    <p><%= @profile.req_quals %></p>
	    <em>People in my profession, often have the following skills: </em></br>
	    <p><%= @profile.req_skills %></p>
	  </content>
		  
	  <section class="email">
	    <% if current_student %>
	      <%= link_to "Register Interest", send_email_profile_path(@profile) %>
	      <!-- Adding this profile to favorites -->
	      <%- unless current_student.favorite_profiles.exists?(@profile.id) -%>
					<%= link_to 'Add to favorites', favorite_profile_path(@profile), method: :post %>
				<%- else -%>
					<%= link_to 'Remove from favorites', favorite_profile_path(@profile), method: :delete %>
				<%- end -%>
				<!-- Add a visit --><br>
				<%= form_for @visit do |f| %>  
				  <%= f.label :date %>
				  <%= f.text_field :date %>
				  <%= f.hidden_field :student_id, value: current_student.id %>
				  <%= f.hidden_field :profile_id, value: @profile.id %>
				  <%= f.hidden_field :status, value: 'pending' %>
				  <%= f.submit 'Create visit' %>
				<% end %>
	    <% else %>
	      <h5>Please <%= link_to "sign in", new_student_session_path %> to contact <%= @profile.name %></h5>
	    <% end %>
	  </section>
	  <section class="edit">
	    <% if current_professional == @profile.professional %>
	      <%= link_to "Edit Profile", edit_my_profile_path %>
	      <a href="/visits/<%= @profile.id %>">See my visits</a>
	      <a href='#' class="delete_profile_confirmation">Delete Profile</a>
	      <%= link_to "Delete Profile", my_profile_path, method: :delete, :class=>"delete_profile"%>
	    <% end %>
	  </section>
	</section>
</column>

<section class="profile_container">

<script>
function buildMap() {
  var handler = Gmaps.build('Google', { scrollwheel: false, zoomControl:   false });
  handler.buildMap({ internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%= raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(15); 
  });
};
</script>

  