<!DOCTYPE html>
<html>
<head>
  <title>OneDayExperience</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

	
<body>

	<!-- Nav bar -->

	<nav id="sidebar" >
		<ul id="icons" class="vertical_align">

			<%= render 'shared/unsignedinicons' %>
		</ul>

	
	</nav>
	<pop class="menu-pop">
		<ul class="vertical_align">

			<%= render 'shared/unsigned_in_menu' %>

		</ul>
	</pop>


  <!-- Main page content -->

  <container id="bodyContainer">

		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>

  	<%= yield %>
	
	</container>

</body>
</html>
