<!DOCTYPE html>
<html>
<head>
  <title>OneDayExperience</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:700,300,600,400' rel='stylesheet' type='text/css'>

</head>

	
<body>

	<!-- Nav bar -->

	<nav id="sidebar" >
		<ul id="icons" class="vertical_align">

			<%= render 'shared/unsignedinicons' %>
		</ul>

	
	</nav>
	


  <!-- Main page content -->

  <container id="bodyContainer">		

  	<%= yield %>
		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>
		
	</container>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
