<!DOCTYPE html>
<html>
<head>
  <title>OneDayExperience</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:700,300,600,400' rel='stylesheet' type='text/css'>

</head>

	
<body>

	<!-- Nav bar -->

	<nav id="sidebar" >
		<ul id="icons" class="vertical_align">

			<%= render 'shared/unsignedinicons' %>
		</ul>

	
	</nav>
	


  <!-- Main page content -->
	<section class="dark full-width no_padding" id='alert_bar'>
		<p class="notice no_padding"><%= notice %></p>
		<p class="alert no_padding"><%= alert %></p>
	</section>
  <container id="bodyContainer">		

  	<%= yield %>

		
	</container>
	
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
